* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ff-heading: 'Staatliches', sans-serif;
  --ff-texting: 'Palanquin', sans-serif;


  --hue: 300;
  --bg-header:hsla(var(--hue), 17%, 62%);
  --bg-heading: hsla(var(--hue), 60%, 79%);
  --bg-primary: hsla(var(--hue), 100%, 98%);

  --fc-primary: hsla(274, 84%, 12%, 100);
  --fc-header: #ffffffe9;
  --fc-footer: #4A4E69;

  font-size: 62,5%;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-body: clamp(0.5rem, 1.2rem + 4vw, 4rem;);
  

}

body{
  font-family: var(--ff-texting);

  background-color: var(--bg-primary);
  color: var(--fc-primary);
}

.page{
  /* padding: 2rem; */
  /* max-width: 1150px; */
  margin: 0 auto;
}

header {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--bg-header);
  padding: 3.2rem 0 2.9rem;
}

header img{
  padding-bottom: 3rem;
}

h1{
  background-color: var(--bg-heading);
  color: var(--fc-header);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  letter-spacing: 0.05rem;
  font-weight: 400;
  line-height: 3.4rem;
}

#images{
  display: flex;
  flex-direction: column;
  padding: 0 3.2rem;
}

#images p{
  display: none;
}

#card{
  position: relative;
  font-family: var(--ff-texting);
  animation: topdown 2s;
}
#card img{
  width: 100%;
  margin-bottom: 3.2rem;

}

#card img:hover{
  transform: scale(1.1);
  opacity: 0.85;
  filter: none;
}

#card h2{
  position: absolute;
  font-style: var(--fs-body);
  top: 1.6rem;
  right:1.6rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: var(--fs-body);
  text-transform: uppercase;
}

#card h2 span{
  border-radius: 2rem;
  background-color: var(--bg-primary);
  padding: 0 1.6rem;
  
  display: inline-flex;
  align-items: center;
  width: fit-content;
  
}

p{
  font-family: var(--ff-texting);
  line-height: 1.5rem;
  margin-bottom: 3rem;
  align-items: center;
  font-weight: 400;
  display: flex;
  text-align: center;
  padding: 1.4rem 3.2rem 0; 

}



@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
      
  100%{
    opacity: 1;
    transform: translateY(0);
}

}

.desktop{
  display: none;
}

@media (min-width: 640px)
{
  :root{
    padding: 0;
  }

.page{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 1440px;
}  

aside{
  grid-area: a;
  display: flex;
  flex-direction: column;
}

aside h1{
  color: var(--fc-header);
  font-style: var(--fs-header);
  font-weight: bold;
}


.desktop{
  padding: 6.4rem 8.1rem 1rem 7rem;
  display: block;
}


#images{
  display: none;
}


aside{
  background-color: var(--bg-header);
}

aside p{
  display: flex;
  padding: 0rem 4.8rem 0rem 5.4rem;
  font-family: var(--ff-texting);
  font-size: clamp(1rem, 1.2rem + 1vw, 1.5rem);
}

h1{
  font-size: 40px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  color:hsla(274, 84%, 12%, 1)
}

  #container{
    display: grid;
    grid-template-areas: 
    "A B C "
    "D B E "
    "D F E";
    gap: 1.9rem;
  }

  #icecream img{
    border: none;
    width: 250px;
    animation: slide 2s;
    transition: 1s;
  }

  #container div:nth-child(1) {
    grid-area: A;
  }
 
  #container div:nth-child(2) {
    grid-area: B;
  }

  #container div:nth-child(3){
    grid-area: C;
  }

  #container div:nth-child(4){
    grid-area: D;
  }
  
  #container div:nth-child(5){
    grid-area: F;
  }

  #container div:nth-child(6){
    grid-area: E;
  }

  .desktop footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }

  .desktop footer a{
    text-decoration: none;
    color: var(--fc-footer);
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
        
    100%{
      opacity: 1;
      transform: translateX(0);
  }
  
  }
  
  
}
